// START: QUIZ FUNCTIONALITY
&:not(#en__pagebuilder):not([data-engrid-debug]) {
  // Conditional content
  &:not([data-engrid-quiz-answer="correct"]) .showif-correct,
  &:not([data-engrid-quiz-answer="incorrect"]) .showif-incorrect,
  &:not([data-engrid-quiz-answer]) .showif-answered {
    display: none;
  }

  &[data-engrid-quiz-answer="correct"] .hideif-correct,
  &[data-engrid-quiz-answer="incorrect"] .hideif-incorrect,
  &[data-engrid-quiz-answer] .hideif-answered {
    display: none;
  }

  .quiz-error {
    display: none;
  }
}

// Hide check my answer button after question is answered
&[data-engrid-quiz-answer] .button-quiz-answer {
  display: none;
}

// Show submit button after question is answered
&:not([data-engrid-quiz-answer]):has(.en__component--svblock) .en__submit {
  display: none;
}

input[disabled],
input[disabled] + label,
select[disabled] {
  cursor: not-allowed;
  opacity: .7;
}
// END: QUIZ FUNCTIONALITY

& {
  --engrid__body_margin: 0;
}

&#en__pagebuilder {
  .content-header,
  .content-footer,
  .body-title,
  .body-top,
  .page-backgroundImage {
    display: none !important;
  }
}

form > .en__component--advrow {
  grid-template-rows:
          [page-start page-alert-start] min-content
          [page-alert-end content-header-start] min-content
          [content-header-end body-headerOutside-start] min-content
          [body-headerOutside-end body-header-start] min-content
          [body-header-end body-title-start] min-content
          [body-title-end body-banner-start] min-content
          [body-banner-end body-bannerOverlay-start] min-content
          [body-bannerOverlay-end body-top-start] min-content
          [body-top-end body-side-start] min-content
          [body-side-end body-main-start] 1fr
          [body-main-end body-bottom-start] min-content
          [body-bottom-end body-footer-start] min-content
          [body-footer-end body-footerOutside-start] min-content
          [body-footerOutside-end content-footerSpacer-start] max-content
          [content-footerSpacer-end content-preFooter-start] min-content
          [content-preFooter-end content-footer-start] min-content
          [content-footer-end page-backgroundImage-start] min-content
          [page-backgroundImage-end page-backgroundImageOverlay-start] min-content
          [page-backgroundImageOverlay-end page-end page-customCode-start] min-content
          [page-customCode-end];
  grid-template-columns:
          [pc-start lpc-start] minmax(0, 1fr)
          [lpc-end cc-start lcc-start] minmax(0, 0)
          [lcc-end bc-start lbc-start] minmax(0, 1fr)
          [lbc-end rbc-start] minmax(0, 1fr)
          [rbc-end bc-end rcc-start] minmax(0, 0)
          [rcc-end cc-end rpc-start] minmax(0, 1fr)
          [rpc-end pc-end];
}


.content-header {
  margin-bottom: 0;
}

.content-footer {
  margin-top: 0;
}

.body-banner {
  grid-column: lpc-start / lbc-end;
}

.body-main,
.body-bottom {
  grid-column: rbc-start / rpc-end;
}

.body-main {
  grid-row: body-main;
  border-top: none;
  border-left: none;
  border-right: none;
}

.body-banner {
  grid-row: body-main;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

&:not(#en__pagebuilder) {
  .body-banner .en__component--imageblock {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .body-banner {
    grid-column: pc;
    grid-row: body-banner;
    &:has(img) {
      height: 300px;
    }
  }

  .body-main {
    grid-column: pc;
  }
}


