.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.en__field--recurrfreq .en__field__element--radio,
.en__field--donationAmt .en__field__element--radio,
.give-by-select-wrapper .en__field--radio .en__field__element--radio {
  .en__field__item input:focus+label {
    outline: 3px solid #E98300;
    outline-offset: 3px;
  }
}

.en__component--premiumgiftblock .en__pgList .en__pg--selected .en__pg__body .en__pg__select:has(input:focus) {
  outline: 3px solid #E98300;
  outline-offset: 3px;
  border-radius: 30px;
}

[data-engrid-theme=wwf] .radio-to-buttons_recurrfreq .en__field--recurrfreq.en__field--radio input[type=radio][value=ANNUAL]:focus+label {
  display: flex !important;
  position: initial;
  width: initial;
  height: initial;
  padding: initial;
  margin: initial;
  overflow: initial;
  clip: initial;
  white-space: initial;
  border: initial;
}

.other-amount-tab-button:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.other-amount-tab-button:focus {
  position: absolute;
  font-size: 19px;
  outline: 3px solid #E98300;
  outline-offset: 3px;
}

.en__hubOverlay__impact .en__hubOverlay__header h2 {
  color: #404040;
  font-size: .875rem;
}

.progress-bar_supporters,
.progress-bar_goal {
  font-size: 19px;
  font-weight: 700;
}

.en__ecarditems__prevclose:hover,
.en__ecarditems__prevclose:focus {
  --button_color_hover: black;
}

label.force-hide-label,
.i1-force-hide-label .en__field:nth-of-type(1)>label,
.i2-force-hide-label .en__field:nth-of-type(2)>label,
.i3-force-hide-label .en__field:nth-of-type(3)>label,
.i4-force-hide-label .en__field:nth-of-type(4)>label,
.i5-force-hide-label .en__field:nth-of-type(5)>label,
.i6-force-hide-label .en__field:nth-of-type(6)>label,
.i7-force-hide-label .en__field:nth-of-type(7)>label,
.i8-force-hide-label .en__field:nth-of-type(8)>label,
.i9-force-hide-label .en__field:nth-of-type(9)>label,
.i10-force-hide-label .en__field:nth-of-type(10)>label,
.i11-force-hide-label .en__field:nth-of-type(11)>label {
  background-color: #ff00001a !important;
}

body:not(#en__pagebuilder):not([data-engrid-debug]) {

  // Force hide label for screen readers for cases where an input heading is done outside the label element.
  div:not(.en__field--validationFailed) label.force-hide-label,
  .i1-force-hide-label .en__field:not(.en__field--validationFailed):nth-of-type(1)>label,
  .i2-force-hide-label .en__field:not(.en__field--validationFailed):nth-of-type(2)>label,
  .i3-force-hide-label .en__field:not(.en__field--validationFailed):nth-of-type(3)>label,
  .i4-force-hide-label .en__field:not(.en__field--validationFailed):nth-of-type(4)>label,
  .i5-force-hide-label .en__field:not(.en__field--validationFailed):nth-of-type(5)>label,
  .i6-force-hide-label .en__field:not(.en__field--validationFailed):nth-of-type(6)>label,
  .i7-force-hide-label .en__field:not(.en__field--validationFailed):nth-of-type(7)>label,
  .i8-force-hide-label .en__field:not(.en__field--validationFailed):nth-of-type(8)>label,
  .i9-force-hide-label .en__field:not(.en__field--validationFailed):nth-of-type(9)>label,
  .i10-force-hide-label .en__field:not(.en__field--validationFailed):nth-of-type(10)>label,
  .i11-force-hide-label .en__field:not(.en__field--validationFailed):nth-of-type(11)>label {
    display: none;
  }
}