[data-engrid-theme="wwf"][data-engrid-multistep] {
  --color-gray: #f2f4f7;
  --body-side-padding: 29px;
  --engrid__body_padding: 0 var(--body-side-padding);
  --engrid__content-footerSpacer_background-color: #ffffff;
  --give-by-select__button_count: 2;
  // --h1_font-size: 60px;

  //VGS styles
  --en-vgs-height: 64px;
  --en-vgs-width: 244px;
  --en-vgs-borderWidth: 2px;
  --en-vgs-borderStyle: solid;
  --en-vgs-borderColor: rgb(245, 245, 245);
  --en-vgs-borderRadius: 0px;
  --en-vgs-backgroundColor: rgb(245, 245, 245);

  .en__component--copyblock:not(.move-before-transaction-donationamt) {
    h2.section-header {
      // font-size: 60px;
      // margin: 40px 0 20px;
      font-size: var(--h3_font-size);
      text-align: left;
      // line-height: 1;
      &:before,
      &:after {
        content: none;
      }
    }
  }

  .multistep-submit {
    margin-top: 25px;
  }

  &[data-engrid-layout="centercenter2col"] {
    .body-main {
      align-self: start;
    }
  }

  &[data-engrid-layout="leftleft1col"] {
    --engrid__content-footer_background-color: var(--color-gray);

    .body-main {
      padding-top: 0;
    }

    .content-header {
      margin-bottom: 0;
    }

    .content-footer {
      margin-top: 0;
    }

    .body-headerOutside {
      display: grid !important;
      background: white;
    }

    .page-backgroundImage {
      grid-column: rpc/pc;
      position: relative;

      &:before {
        position: absolute;
        background-position: center !important;
      }
    }
  }

  &[data-engrid-layout="centerleft1col"]:not([data-header-footer-layout="none"]) {
    // Hide the content header and footer when using this layout
    .content-header #header {
      display: none !important;
    }

    .content-header {
      --engrid__content-header_background-color: none;
      padding: 10px 20px;
      margin-bottom: 30px;

      @media (max-width: 500px) {
        margin-bottom: 0;
      }

      > .en__component:has(.logo) {
        display: flex;
        .logo {
          padding: 10px;
          background: white;
          @media (max-width: 500px) {
            padding: 10px 0 0;
          }

          img {
            @media (max-width: 500px) {
              width: 51px;
              height: auto;
            }
          }
        }
        @media (max-width: 500px) {
          justify-content: center;
        }
      }
    }

    // Start Custom Styles for Donation form with Background
    &[data-engrid-page-background="image"] .page-backgroundImage:before,
    &[data-engrid-page-background="image"].page-backgroundImage:before {
      background-position: center right;
    }

    @media screen and (max-width: 960px) {
      .body-title,
      .body-top {
        background: white;
        box-shadow: var(--engrid__body_box-shadow);
        margin: var(--engrid__body-main_margin);
        padding: var(--engrid__body-main_padding);
      }

      .white-box {
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
      }

      // .body-title {
      //   margin-bottom: 0px !important;
      //   padding-bottom: 0px !important;
      //   margin-top: 0px !important;
      //   padding-top: 0px !important;
      // }
    }

    .gradient {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.25) 100%
      );
    }

    @media screen and (max-width: 600px) {
      --h1_line-height: calc(33.6px + 1rem);

      .enWidget--progressBar {
        padding-top: 20px !important;
      }
    }
    // END Custom Styles for Donation form with Background
  }

  @media screen and (max-width: 720px) {
    --body-side-padding: 16px;
    --recurring-frequency__button_count: 2;
    --h1_font-size: 48px;

    .en__field,
    .en__submit {
      padding-left: var(--fields_spacing-inline);
      padding-right: var(--fields_spacing-inline);
    }

    h1 {
      letter-spacing: -1px;
    }

    .en__component--copyblock:not(.move-before-transaction-donationamt) {
      h2.section-header {
        // letter-spacing: -1px;
        // font-size: 48px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    --h1_font-size: 24px;

    .body-main {
      --p_font-size: 15px;
      --p_line-height: 24px;
    }
  }

  @media screen and (max-width: 1200px) {
    &[data-engrid-page-background="image"][data-engrid-layout="centerleft1col"]
    .page-backgroundImage:before,
    &[data-engrid-page-background="image"][data-engrid-layout="leftleft1col"]
    .page-backgroundImage:before {
      background-image: none !important;
    }
  }

  //END WWF SPECIFIC
  [data-multistep-change-step] {
    cursor: pointer;
  }

  .multistep-stepper {
    display: flex;
    align-items: center;
    margin: 0 calc(-1 * var(--body-side-padding));
  }

  @media screen and (max-width: 720px) and (min-width: 601px) {
    .multistep-stepper {
      margin: 0 calc(-2rem + 3px);
    }
  }

  @media screen and (max-width: 600px) {
    &:not([data-engrid-subtheme])
      .radio-to-buttons_recurrfreq.radio-to-buttons_recurrfreq_to-tabs
      .en__field--recurrfreq
      label {
      top: 0px;
    }

    .multistep-stepper {
      margin: 0 -19px;
    }
  }

  .body-main {
    padding-top: 0;
  }

  @media screen and (min-width: 601px) {
    &:not([data-engrid-subtheme]):not(#en__pagebuilder):not([data-engrid-debug])
      .radio-to-buttons_recurrfreq.radio-to-buttons_recurrfreq_to-tabs
      .en__field--recurrfreq {
      margin-top: 0;
    }
  }

  // [data-multistep-step="1"] .multistep-stepper {
  //   top: -26px;
  //   position: relative;
  // }

  .multistep-stepper__step {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #667085;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0 6px;
    background-color: rgba(228, 228, 228, 0.36);
    border-bottom: 4px solid transparent;
  }

  .multistep-stepper__number {
    border: 1px solid #667085;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
  }

  .multistep-stepper__step--active {
    background-color: #ffffff;
    border-color: #000000;
    color: #000000;
    .multistep-stepper__number {
      border-color: #000000;
      background-color: #000000;
      color: #ffffff;
    }
  }

  @for $i from 1 through 6 {
    &:not([data-engrid-multistep-active-step="#{$i}"]):not([data-engrid-multistep-expand="true"]) {
      [data-multistep-step="#{$i}"] {
        display: none !important;
      }
    }
  }

  .multistep-button-container {
    display: flex;
    flex-basis: 60px;
    margin-bottom: 30px;

    button:not(.btn-back) {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        top: -1px;
        transition: left 0.3s;
        position: relative;
        left: 16px;
      }

      &:hover svg {
        left: 21px;
      }
    }
  }

  .btn-back {
    flex-basis: 60px;
    margin-top: 2rem;
    opacity: 0.8;
    margin-right: 20px;
    background-color: var(--submit__button_background-color);
    border-color: var(--submit__button_border-color);
    color: var(--submit__button_color);
    font-size: var(--submit__button_font-size);
    padding-bottom: var(--submit__button_padding-bottom);
    padding-top: var(--submit__button_padding-top);
    text-transform: var(--submit__button_text-transform);
    transition: opacity 0.2s;
    height: 65px;
    justify-content: center;
    align-items: center;
    display: flex;

    &:hover {
      opacity: 0.6;
    }
  }

  .multistep-submit {
    margin-bottom: 30px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 60px 1fr;
    grid-column-gap: 20px;
    align-items: flex-end;

    .en__captcha {
      grid-column: span 2;
    }

    .btn-back {
      height: 100%;
      grid-column: 1;
      margin-right: 0;
    }

    .en__submit {
      height: 100%;
      grid-column: 2;
      padding: 0;

      button {
        height: 100%;
      }
    }

    button {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .en__submit button {
    .live-variable-frequency:after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14' viewBox='0 0 15 14' fill='none'%3E%3Cpath d='M8.187 13.313C7.807 13.693 7.192 13.693 6.813 13.313C6.433 12.933 6.433 12.317 6.813 11.938L10.5 8.24998H1.6C0.992 8.24998 0.5 7.75698 0.5 7.14998C0.5 6.54198 0.992 6.04998 1.6 6.04998H10.8L6.813 2.06198C6.433 1.68198 6.433 1.06698 6.813 0.686978C7.193 0.306978 7.808 0.306978 8.187 0.686978L14.5 6.99998L8.187 13.313Z' fill='white'/%3E%3C/svg%3E%3C");
      position: relative;
      top: -1px;
      left: 16px;
      transition: left 0.3s;
    }

    &:hover .live-variable-frequency:after {
      left: 21px;
    }
  }

  &:not([data-engrid-layout="centercenter2col"]) {
    .body-title {
      background: #ffffff;
      padding: 26px 29px 20px 29px;
    }
  }

  @media screen and (max-width: 1023px) {
    &:not([data-engrid-multistep-active-step="1"]):not([data-engrid-multistep-expand="true"]) {
      .body-title,
      .body-banner,
      .body-top {
        display: none !important;
      }
    }
  }

  &[data-engrid-payment-type="ach"] button[data-balloon]:after {
    left: calc(50% - 40px);
  }

  /* Make the Premium Preview images large */
  .en__pg__image:hover {
    transform: scale(3);
    position: relative;
    z-index: 1;
  }

  @media only screen and (max-width: 600px) {
    .en__pg__image:hover {
      transform: scale(2);
      position: absolute;
      z-index: 1;
    }
  }

  // Hide this message part of the Welcome Back Message because it's redundant: https://cln.sh/Ny44Xmbw
  .engrid-welcome-back {
    display: none;
  }


  //Modifications for "expand" variant
  &[data-engrid-multistep-expand="true"] {
    // Hide steppers
    .multistep-stepper {
      display: none;
    }

    .btn-back {
      display: none;
    }

    .multistep-submit {
      grid-template-columns: 0 1fr;
      grid-column-gap: 0;
    }

    .multistep-button-container button svg {
      display: none;
    }

    // Show current step + all previous steps
    @for $i from 1 through 6 {
      &[data-engrid-multistep-active-step="#{$i}"] {
        @for $j from ($i + 1) through 6 {
          [data-multistep-step="#{$j}"] {
            display: none !important;
          }
        }

        // Hide buttons for all previous steps
        @if $i > 1 {
          @for $j from 1 through ($i - 1) {
            [data-multistep-step="#{$j}"] .multistep-button-container {
              display: none !important;
            }
          }
        }
      }
    }

    .body-title {
      background-color: transparent;
      padding: 0 0 28px;

      @media screen and (max-width: 600px) {
        padding: 0 20px 28px;
      }
    }
  }
}
