/* SCSS Layout Variables should be defined outside a CSS declaration so they're global */

// ONE COLUMN LAYOUTS
// $one_col_content-column_max-width: 1440px;
// $one_col_content-column_min-width: 500px;
$one_col_body-column_max-width: 628px; // Was 569px
$leftleft1col_body-column_max-width: 720px;
$leftleft1col_content-column_min-width: 1024px;
$rightright1col_body-column_max-width: 720px;
$rightright1col_content-column_min-width: 1024px;
// $one_col_body-column_min-width:    500px;
// $one_col_body-column_offset-width: 100px;

// TWO COLUMN LAYOUTS
$two_col_content-column_max-width: 1138px;
$two_col_content-column_min-width: 1024px;
$two_col_body-column_max-width: 1138px;
$two_col_body-column_min-width: 1024px;

$centercenter2col_body-column_column-2_max-width: 674px;
