#header {
  background: #fff;
  border-bottom: 1px solid #f3f3f3;

  .container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;

    @media (min-width: 40rem) {
      padding: 12px 48px;
    }

    @media (min-width: 64rem) {
      padding: 12px 80px;
    }
  }

  .logo img {
    width: 41px;
    height: 60px;
    display: block;
  }

  .cta {
    display: flex;
    gap: 16px;

    .btn {
      min-width: 120px;
      border-radius: 32px;
      color: #ffffff;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0.18px;
      padding: 16px 20px;
      text-decoration: none;
      transition: background 0.2s ease;

      &.gifts {
        background: #6f190b;
        &:hover,
        &:active {
          background: lighten(#6f190b, 5%);
        }
      }

      &.donate {
        background: #cb4328;
        &:hover,
        &:active {
          background: #b02f1a;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .cta {
      display: none;
    }
  }
}

#footer {
  background: #fefcf9;
  padding: 64px 0;

  .container {
    max-width: 1200px;
    width: 100%;
    padding: 0 80px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 62px auto 168px;
    gap: 24px 40px;
    .footer-copy,
    .footer-links {
      grid-column: 1 / -1;
      max-width: 1063px;
    }
  }

  .footer-logo {
    img {
      width: 62px;
      height: 91px;
    }
  }

  .footer-address {
    font-size: 16px;
    line-height: 146%;
    margin: auto 0;
    address {
      font-style: normal;
    }
  }

  .footer-social {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .footer-copy {
    margin-top: 4px;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 146%;
      letter-spacing: 1%;
      margin: 0 0 24px 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .footer-links > ul {
    margin: 0;
    display: flex;
    gap: 16px;
    li > a {
      color: var(--label_color);
      font-size: 18px;
      font-weight: 600;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 8px;
    }
  }

  @media screen and (max-width: 1200px) {
    .footer-links > ul {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 767px) {
    .container {
      padding: 0 24px;
      max-width: unset;
      grid-template-columns: 62px auto;
      gap: 32px;
      .footer-social,
      .footer-copy,
      .footer-links {
        grid-column: 1 / -1;
        max-width: 100%;
      }
    }

    .footer-copy {
      margin-top: 0px;
    }
  }
}

// Action Center Bar
.shaded-light-pattern {
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 12px 24px;
    h2 {
      margin-top: 13px;
    }
    @media (min-width: 40rem) {
      padding: 12px 48px;
    }

    @media (min-width: 64rem) {
      padding: 12px 80px;
    }
  }
}
.no-header-wwf-logo {
  height: 100px;
  width: 80px;
  max-width: 80px;
}

.minimal-header-logo {
  display: none;
}

.body-title .en__component .minimal-header-logo + h1 {
  margin-top: 0;
  margin-bottom: 0;
}

[data-header-footer-layout="none"] {
  .content-header {
    margin-bottom: 50px;
  }

  form > .en__component--row.en__component--advrow > .content-header > * {
    display: none;
  }

  @media screen and (min-width: 600px) {
    .body-title .en__component {
      display: flex;
      gap: 1rem;
      align-items: center;
      &:before {
        background: #fff
          url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10114/logo-standalone.png?1")
          no-repeat;
        background-size: contain;
        height: 100px;
        margin: 0;
        width: 100%;
        z-index: 3;
        content: "WWF Logo";
        align-items: center;
        text-indent: -9999px;
        max-width: 80px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        background-position: center;
      }
    }
  }

  @media screen and (max-width: 599px) {
    .content-header {
      --engrid__content-header_background-color: #ffffff;
      justify-items: center;
      margin-top: 10px;
      &:before {
        background: #fff
          url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10114/logo-no-tab.png?1")
          no-repeat;
        background-size: contain;
        // box-shadow: 0 1px 3px #00000014;
        height: 100px;
        margin: 0;
        width: 100%;
        z-index: 3;
        content: "WWF Logo";
        align-items: center;
        text-indent: -9999px;
        max-width: 80px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        background-position: center;
        grid-column: pc;
      }
    }
  }
}
